@font-face{
	font-family: 'Courier_Prime';
	src: url('../fonts/Courier_Prime.ttf') format('truetype');
}

@font-face{
	font-family: 'Courier_Prime_Bold_Italic';
	src: url('../fonts/Courier_Prime_Bold_Italic.ttf') format('truetype');
}

body {
	font-family: 'Courier_Prime', monospace;
	text-align: center;
}

header {
	margin: 2.5em 0 1em;
}

img {
	width: 80px;
	z-index: 1;
}

footer {
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

span {
	color: rgba(0,0,0,.5);
}

.container {
	margin: 0 auto;
	padding: 50px 0 50px 0;
	width: 700px;
	position: relative;
}

.game-board {
	margin: 6% 4.9% 5%;
	height: 32em;
	width: 39.5em;
	background-color: #fff;
	z-index: 2;
	display: none;
}

.game-square {
	height: 80px;
	width: 80px;
	border: 1px solid #000;
	display: inline-block;
	border-radius: 50%;
	z-index: 3;
	margin: 2px 4px;
}

.board-borders {
	background-color: #222;
	position: absolute;
}

#start-button {
	position: absolute;
	top: 10px;
	left: 291px;
	padding: 10px;
}

#start-button:hover {
	border: 1px solid black;
	cursor: default;
}

#board-0 {
	height: .25em; 
	width: 41.6em;
	top: 82px;
	left: 17px;
	z-index: 2;
}

#board-1 {
	height: 37.9em; 
	width: .5em;
	top: 86px;
	left: 674px;
	z-index: 2;
}

#board-2 {
	height: .25em; 
	width: 41.6em;
	top: 627px;
	left: 17px;
	z-index: 2;
}

#board-3 {
	height: 37.9em; 
	width: .5em;
	top: 86px;
	left: 17px;
	z-index: 2;
}

#board-top-white {
	height: 14px; 
	width: 40.6em;
	top: 86px;
	left: 25px;
	z-index: 2;
	background-color: #fff;
}

#coin-drop {
	animation: drop 3s ease;
}

.player-one {
	display: none;
	position: absolute;
}

#player-one-input {
	top: 18px;
	left: 209;
	height: 30px;
	width: 170px;
	border: none;
	border-right: 1px solid #000;
	text-align: right;
}

#player-one-button {
	top: 24px;
	left: 438px;
	background-color: #fff;
	border: none;
	border-left: 1px solid #000;
	color: rgba(0,0,0,.6);
	transition: color 1s;
}

#player-one-button:hover {
	color: #000;
}

#p-one-name{
	display: none;
	position: absolute;
	top: 642px;
	left: 30px;
	font-size: 12px;
}

.player-two {
	display: none;
	position: absolute;
}

#player-two-input {
	top: 18px;
	left: 209;
	height: 30px;
	width: 170px;
	border: none;
	border-right: 1px solid #000;
	text-align: right;
}

#player-two-button {
	top: 24px;
	left: 438px;
	background-color: #fff;
	border: none;
	border-left: 1px solid #000;
	color: rgba(0,0,0,.6);
	transition: color 1s;
}

#player-two-button:hover {
	color: #000;
}

#p-two-name {
	display: none;
	position: absolute;
	top: 642px;
	left: 350px;
	font-size: 12px;
}

.player-bold {
	font-family: 'Courier_Prime_Bold_Italic', monospace;
}

.hide {
	display: none;
}

.show {
	display: block !important;
}

#bit-flash {
	position: absolute;
	top: 10px;
	left: 330px;
	width: 40px;
	height: 40px;
	opacity: 0;
	animation: flash;
	animation-duration: .5s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
}

#doge-flash {
	display: none;
	position: absolute;
	top: 10px;
	left: 330px;
	width: 40px;
	height: 40px;
	opacity: 0;
	animation: flash;
	animation-duration: .5s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes drop {
	0% { transform: translateY(-430px);}
}

@keyframes flash {
	0% 	  {opacity: 0;}
	12%	  {opacity: .12;}
	25%   {opacity: .25;}
	38%	  {opacity: .38;}
	50%   {opacity: .5;}
	62%   {opacity: .38;}
	75%   {opacity: .25;}
	88%	  {opacity: .12;}
	100%  {opacity: 0}
}
